/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) { 
    /* .wrapper{
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    } */
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) { 
    /* .wrapper{
        width: 540px;
        max-width: 100%;
        margin: 0 auto;
    } */
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 
    /* .wrapper{
        width: 720px;
        max-width: 100%;
        margin: 0 auto;
    } */

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) { 
    /* .wrapper{
        width: 960px;
        max-width: 100%;
        margin: 0 auto;
    } */

}
@media (min-width: 1199px) and (max-width: 1139px) { 
    /* .wrapper{
        width: 1140px;
        max-width: 100%;
        margin: 0 auto;
    }
    .wrapper-fluid{
        width: 100%;

    } */

}


/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) { 
    /* .wrapper{
        width: 1320px;
        max-width: 100%;
        margin: 0 auto;

    }
    .wrapper-fluid{
        max-width: 100%;
        width: 100%;
    } */

}