/*Fonts*/
/**/
@import '../fonts/ProximaNova/stylesheet.css';

html,
body{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    font-family: 'Proxima Nova';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 1.3125;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Proxima Nova';
    line-height: 1.18;
    margin: 0;

    /* font-weight: 700; */

}
hr{
    color: #e8e8e8;
    background-color: #e8e8e8;
}
:hover,
:active,
:focus{
    outline: none;
    border: none;
}
a{
    text-decoration: none;
}
a:hover,
a:active,
a:focus{
    text-decoration: none;
}
button:focus{
    outline: none;
}
img{
    display: inline-block;
    max-width: 100%;
}
button{
    display: inline-block;
}

#preloader {
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

#status {
    background-image: url("../images/preloader/Spinner-1s-200px.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -35px;
    margin-left: -35px;
}
.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height:100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}
.modal{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    background-color: #fff;
    border-radius: 8px;
}
#lang-modal{
    height:80%;
    width: 50%;
}
.modal-contents{
    position: relative;
    overflow: hidden;
}
#lang-modal-logo{
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    /* height: 30px; */
}
.close-modal{
    font-size: 32px;
    font-weight: bold;
}
#close-lang-modal{
    position: absolute;
    top: 8px;
    right: 16px;
}

.close-modal:hover,
.close-modal:active{
    cursor: pointer;
}

#lang-modal-details{
    padding: 75px 28px 0 28px;

}
#lang-modal-details h2{
    font-size: 20px;
    font-weight: 800;
}
#lang-modal-details ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
#lang-modal-details ul li{
    width: 25%;
    margin: 8px 0;
    border-radius: 8px;

}
#lang-modal-details ul li:hover,
#lang-modal-details ul li:hover{
    background-color: #e8e8e8;
    cursor: pointer;
    

}
#lang-modal-details ul li span{
    color: #5c5c5c;
    padding: 8px;
}
#top-lang{
    font-size: 16px;
    font-weight: 400;
    
}

#bot-lang{
    font-size: 12px;
    font-weight: 400;
}
/*****form-modals******/
#form-modal{
    /* display: block; */
    height: 95%;
    width: 33%;
}
#close-form-modal{
    position: absolute;
    top: 8px;
    right: 16px;
}
#form-modal-logo{
    position: absolute;
    top:16px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
}
#form-modal-details{
    text-align: center;
    padding: 90px 45px 0 45px;
}
#form-modal-details h2{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 800;
    font-style: italic;

}
#form-modal-details p{
    font-size: 14px;
    color: #2c2c2c;

}
#form-modal-details p a{
    color: #000;
    text-decoration: underline;
}
.btn-container{
    margin: 16px 0;
}
.btn-container button{
    padding: 16px;
    width: 350px;
    max-width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    background-color: none;
    font-weight: 600;
    border: 2px solid #2c2c2c;
    background: #fff;
    color: #2c2c2c;
    border-radius: 100px; 
}
#troubleshoot{
    text-decoration: underline;
    color: #5c5c5c;
}
#form-modal-app{
    margin-top: 16px;
}
#form-app-buttons{
    margin-top: 16px;
}
#form-app-buttons img{
    width: 32px;
    margin: 0 16px;
    max-width: 100%;
}
/*********navigation**********/
header{
    
    background: none;
}
nav{
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    background: none;
    z-index: 1;
}
#navbar{

    display: flex;
    align-items: center;
    padding: 20px 28px; 
    background: transparent;
}
#logo-container{
    width: 150px;
}
.spacer{
    flex: 1;
}
#lang-btn{
    background: none;
    color: #fff;
    border: none;

}

#lang-btn{
    color: #fff;
    font-family: inherit;
    padding: 0 12px;
    transition: all 0.45s ease-in-out;

}
#lang-btn span{
    font-size: 16px;

}
#lang-btn:hover,
#lang-btn:active{
    color: #fd5068;
    cursor: pointer;

}
#lang-btn i{
    margin-right: 8px;
}
#log-in-btn{
    color: #fd5068;
    margin-left: 28px;
    border: none;
    padding: 0 24px;
    min-height: 40px;
    border-radius: 4px;
    background: #fff;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.45s ease-in-out;
}

#log-in-btn:hover,
#log-in-btn:active{
    color: #fff;
    background: linear-gradient(262deg, #ff7854, #fd267d);
    cursor: pointer;
    
}
#banner{
    background: none;
    height: 100vh;
   
}
#banner-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/background-image.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
}
#banner-overlay{
    background:linear-gradient(to bottom, #000 0, rgba(0,0,0,0) 150px);;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
#banner-content{
    width: 100%;
    height: 100%;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
#banner-content-inner{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#banner-content-inner h1{
    font-size: 8vw;
    font-weight: 800;
    line-height: 1.18;
    color: #fff;
}

#banner-content-inner button{
    font-family: inherit;
    font-size: inherit;
    font-weight: 600;
    text-transform: uppercase;
    background: linear-gradient(262deg, #ff7854, #fd267d);
    border: none;
    color: #fff;
    width: 260px;
    max-width: 100%;
    min-height: 55px;
    border-radius: 100px;
    margin:20px 8px 0 8px;
}
#testimonial{
    background-color: #fff;
    padding: 30px 74px 60px 74px;
    overflow: hidden;
    
    
}
#testimonial-contents{
    display: flex;
}
.testimonial-content{
    width: 33.33%;
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    padding: 28px 24px 0 28px;
    margin: 0 15px;
    box-shadow: 0 2px 6px 0 rgba(112,125,134,0.14);
}


.testimonial-content h3{
    font-size: 18px;
    font-weight: 800;
   
}
.testimonial-content h3::after{

    content: " ";
    display: block;
    background-color: #e8e8e8;
    height: 1px;
    width: 100%;
    margin: 10px 0;
    
}

.testimonial-content p{
  font-size: 16px;
  color: #5c5c5c;
}
footer{
    background: #fff;
    margin-top: -1px;
    padding: 0 144px 20px 144px;
}
#details{
    display: flex;
   
}
.detail-list{
    flex: 1;
}
.detail-list h3{
    text-transform: uppercase;
    font-size: 20px;
    font-style: italic;
    font-weight: 800;
    color: #2c2c2c;
}
.detail-list ul{
    list-style: none;
    /* margin: 0; */
    padding: 0;
    
}
.detail-list ul li{
    margin-bottom: 18px;
    /* line-height: 3.2rem; */
}
.detail-list ul li a{
    color: #2c2c2c;
    text-transform: capitalize;
    transition: all 0.45s ease-in-out;
}
.detail-list ul li a:hover,
.detail-list ul li a:active{
    color : #fd5068
}
#social{
    display: flex;
    padding: 35px 0;
    border: 1px  solid #e8e8e8;
    border-left: none;
    border-right: none;
    
}
#social h3{
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 20px;
    font-style: italic;
    font-weight: 800;
}
#social a{
    display: inline-block;
    vertical-align: middle;

}
#get-app h3{
    margin-right: 16px;

}
#get-app a{
    padding: 0 24px;
    margin-left: 16px;
    /* border: 1px solid #e0e4e9; */
    border-radius: 100px;
    margin-left: 16px;
    /* width: 50px; */
    /* height: 48px; */
}
#get-app a img{
    width: 28px;
    height: 28px; 
    vertical-align: middle;  
}
#stay-social{
    margin-left: 142px;
}
#stay-social h3{
    margin-right: 20px;
}
#stay-social a{
    margin-right: 12px;
}
#description{
    font-size: 14px;
    color: #5c5c5c;
    padding: 15px 0;
    border-bottom: 1px solid #e8e8e8;
}
#extras{
    display: flex;
    padding: 16px 0;
}
#extras,
#extras a{
    font-size: 14px;
    color: #5c5c5c;
}
#extras a:hover,
#extras a:active{
    color: #fd5068;
}
.divider{
    display: inline-block;
    background-color: #5c5c5c;
    width: 1px;
    height: 8px;
    vertical-align: baseline;
}